<% provide(:title, "All Invoices") %>
<h1>Listing invoices</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Project title</th>
      <th>Client</th>
      <th>Notes</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= link_to invoice.project_title, invoice %></td>
        <% client_id = @clients.find_by_id(invoice.client_id) %>
        <% unless client_id.nil? %>
       		<td><%= link_to client_id.name, 
        						client_invoices_url(client_id) %></td>
        <% else %>
        	<td>[Client Deleted]</td>
        <% end %>
        <td><%= invoice.notes %></td>
        <td><%= link_to 'Show', invoice %></td>
        <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
        <td><%= link_to 'Delete', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoice', new_invoice_path %>
