<% provide(:title, "All Invoices") %>


<% if @single_client.nil? %>
	
<% else %>
	<%= link_to "All Invoices", invoices_path %> >
	<span><%= @client.name %>'s Invoices</span>
<% end %>

<%= render 'list_invoices' %>

<% if signed_in? %>

	<% if @single_client.nil? %>
		<%= link_to 'New Invoice', new_invoice_path, class: "btn new-invoice-btn" %>
	<% else %>
		<%= link_to 'New Invoice', new_invoice_path(client_id: @client.id), class: "btn new-invoice-btn" %>
	<% end %>

<% end %>