<% provide(:title, "All Invoices") %>
<p id="notice"><%= notice %></p>

<div class="invoice-header">
	<h4 class="inv-company-title"><%= @user.user_company %></h4>
</div>



<h2 class="inv-project-title"><span class="caps"></span>Project</span> / <%= @invoice.project_title %></h2>

<p>
	<%= l @invoice.created_at, :format => :short %>
</p>

<p>
  <span class="inv-client-name"><%= @client.name %></span><br />
  <span class="inv-client-address"><%= @client.address %></span>
 </p>



<div class="invoice-details">
	<table class="table">
		<thead>
		  <tr>
		    <th>Description</th>
		    <th>Amount (in 
		    	<% unless @currency.symbol.blank? %>
		    		<%= @currency.symbol %> 
		    	<%end%>)</th>
		   </tr>
		</thead>
		<tbody>
		 	<% for invoice_item in @invoice.invoice_items %>
			 	<tr>
			 		<td>
			 			<h3 class="caps bold"><%= invoice_item.item_title %><br /></h3>
				 		<%= invoice_item.item_desc %>
			 		</td>
			 		<td class="pull-right">
			 			<% if !invoice_item.item_amount.blank? %>
				 			<%= number_with_delimiter(invoice_item.item_amount, delimiter: ',')   %>
				 		<% else %>
				 			-
				 		<% end %>
			 		</td>
		 		</tr>
		 	<% end %>
	 	</tbody>
	</table>
	
	<p class="pull-right">Total: <%= @invoice.invoice_items.sum :item_amount %></p>
</div>
<p>
  <strong>Notes:</strong><br />
  <%= @invoice.notes %>
</p>

<div class="invoice-footer">
	<%= @user.name %><br />
	<%= @user.user_title %>
	
	<ul>
		<li><%= @user.email %></li>
		<li><%= number_to_phone(@user.user_phone, country_code: 91) %></li>
		<li><%= @user.user_weburl %></li>
	</ul>
	
</div>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
