<% provide(:title, @invoice.project_title) %>

<div class="invoice-header">
	<%=  image_tag "hc-promo.png", alt: "Hash Cookies Logo" %>
	<p class="inv-company-title"><%= @user.user_company %> <span class="inv-date"><%= @invoice.invoice_type %> #<%= @invoice.id %></span></p>
	
</div>

<div class="stripe"></div>

<div class="inv-client-info">
	<div class="inv-client">
		<span class="inv-client-name"><%= @client.name %></span><br />
		<span class="inv-client-address"><%= @client.address %></span>
	</div>
	<div class="inv-proj">
		<span class="inv-project-title"><%= @invoice.project_title %></span><br />
		<span class="caps"><%= l @invoice.created_at, :format => :long %></span>
	</div>
</div>

<div class="stripe"></div>
	
<div class="invoice-wrapper">	
	
	<div class="invoice-details">
		<table class="table">
			<thead>
			  <tr>
			    <th>Description</th>
			    <th class="pull-right">Amount (in <%= @currency.symbol %>)</th>
			   </tr>
			</thead>
			<tbody>
			 	<% for invoice_item in @invoice.invoice_items %>
				 	<tr>
				 		<td class=" col-md-8">
				 			<p class="caps bold item-title"><%= invoice_item.item_title %></p>
					 		<p class="item-desc"><%= invoice_item.item_desc %></p>
				 		</td>
				 		<td class="pull-right item-amount  col-md-4">
				 			<% if !invoice_item.item_amount.blank? %>
					 			<p class="item-amount pull-right"><%= number_with_delimiter(invoice_item.item_amount, delimiter: ',')   %></p>
					 		<% else %>
					 			-
					 		<% end %>
				 		</td>
			 		</tr>
			 	<% end %>
			 	<% unless @invoice.discount.nil? %>
			 		<tr class="row-discount">
			 			<td class="title">Discount</td> 
			 			<td class="pull-right"><%= @invoice.discount %>%</td>
			 		</tr>
			 	<% end %>
		 	</tbody>
		</table>
		
		<p class="item-total"><span>Total</span> <%= @currency.symbol %> <%= @invoice.total_price :item_amount %> </p>
		<div class="stripe"></div>
	</div>
</div> <!--end invoice wrapper-->

<div class="invoice-notes">
  <strong>Notes:</strong><br />
  <%= @invoice.notes %>
</div>

<div class="stripe"></div>

<div class="invoice-footer">
	<div class="inv-user row col-lg-5 col-sm-12">
		<div class="user-name "><%= @user.name %></div>
		<div class="user-title"><%= @user.user_company %></div>
	</div>
	<div class="row col-lg-7 col-sm-12">
		<ul class="inv-user-meta pull-right">
			<li><%= @user.email %></li>
			<li><%= number_to_phone(@user.user_phone, country_code: 91) %></li>
			<li><%= @user.user_weburl %></li>
		</ul>
	</div>
</div>

<% if @invoice.paid? || authorised? %>
	<div class="invoice-controls">
		<%= render 'paid_form' %>
	</div>
<% end %>

<% if authorised? %>
	<div class="inv-nav row">
		
			<%= link_to 'Edit Invoice', edit_invoice_path(@invoice) %> |
			<%= link_to 'Back to Invoices', invoices_path %>

	</div>
<% end %>