<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <% if Rails.env.development? %>
  	<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
  <% end %>
</head>
<body class="homepage">
	
	<ul class="home-nav">
		<li><%= link_to "Log in", new_user_session_path %></li>
		<li><%= link_to "About", about_path %></li>
	</ul>

	
	<div class="container main"> 
			
			<%= yield %>
	</div>
	
	<div id="promo-footer"><a href="http://hashcooki.es/">by Hash Cookies</a></div>
	

</body>
</html>
